/* body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
} */

.menuContainer {
  /* position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #19373b8e;
  color: #cdcdcd;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box; */

  /* Estilos Cande */
  background-color: rgb(72, 61, 139, 0.7);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 20px;
  margin-top: -40px;
  
}

.menuLogo {
  line-height: 0;
  margin: 0 20px;
}

.menuLogo {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  flex-shrink: 0;
}


/* .menuContainer a {
  text-decoration: none;
  color: #f7f2f2;
  transition: color 0.3s ease;
} */

/* .menuContainer a:hover {
  color: #00C6A7;
} */

/* .menuContainer input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
} */

/* Burger menu */
/* .menuContainer span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuContainer span:first-child {
  transform-origin: 0% 0%;
}

.menuContainer span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menuContainer input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #232323;
}

.menuContainer input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuContainer input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
} */

/* mobile styles */
/* @media only screen and (max-width: 767px) { 
  .menuContainer {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .menuLogo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menuLogo img {
    max-height: 50px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background-image: url('../image/rickandmortyburguerpaisaje.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased; */
    /* to stop flickering of text in safari */
    /* transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menuContainer input:checked ~ .menu {
    transform: translateX(-100%);
  }
} */

/* desktop styles */
/* @media only screen and (min-width: 768px) { 
  .menuContainer {
    width: 100%;
  }

  .menuContainer a {
    color: #cdcdcd;
  }

  .menuContainer input {
    display: none;
  } */

  /* Burger menu */
  /* .menuContainer span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
} */